body{
    background-color: #f3eae1 !important;
}
.cards{
    text-align: center;
    font-family: "Roboto", sans-serif;
}


.logo1{
    justify-content: space-around;
}

.logo1 img{
    height: 100px ;
    margin-left:100px;
    
}

.logo1 .paragraphe1{

    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.5em;
    width: 65%;
    display: block;
    margin: 30px;
    margin-top: 5px;
}



.logo2{
    display : flex;
    justify-content: space-around;

}

.logo2 img{
    width: 200px ;
    height: 100px ;
    margin-left:600px;
}

.logo2 .paragraphe2{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.5em;
    width: 65%;
    display: block;
    margin: 30px;
    margin-left:100px;
    margin-top: 5px;
}


.logo3{
    display : flex;
    justify-content: space-around;
}

.logo3 img{
    width: 500px ;
    height: 100px ;
    margin-left:500px;
}

.logo3 .paragraphe3{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.5em;
    width: 65%;
    display: block;
    margin: 30px;
    margin-left:100px;
    margin-top: 5px;
}


.general{
    margin-top: 50px;
    

    
}





